<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>displayName</key>
	<string>fw9</string>
	<key>sections</key>
	<array>
		<array>
			<dict>
				<key>datatype</key>
				<string>Tx</string>
				<key>id</key>
				<string>f1_01_0_[0]</string>
				<key>label</key>
				<string>Name</string>
				<key>mapping</key>
				<string>name</string>
			</dict>
			<dict>
				<key>datatype</key>
				<string>Tx</string>
				<key>id</key>
				<string>f1_02_0_[0]</string>
				<key>label</key>
				<string>Business name</string>
				<key>mapping</key>
				<string></string>
			</dict>
			<dict>
				<key>datatype</key>
				<string>Btn</string>
				<key>id</key>
				<string>c1_01[0]</string>
				<key>label</key>
				<string>individual/sole proprietor</string>
				<key>mapping</key>
				<string></string>
			</dict>
			<dict>
				<key>datatype</key>
				<string>Btn</string>
				<key>id</key>
				<string>c1_01[1]</string>
				<key>label</key>
				<string>C Corporation</string>
				<key>mapping</key>
				<string></string>
			</dict>
			<dict>
				<key>datatype</key>
				<string>Btn</string>
				<key>id</key>
				<string>c1_01[2]</string>
				<key>label</key>
				<string>S Corporation</string>
				<key>mapping</key>
				<string></string>
			</dict>
			<dict>
				<key>datatype</key>
				<string>Btn</string>
				<key>id</key>
				<string>c1_01[3]</string>
				<key>label</key>
				<string>Partnership</string>
				<key>mapping</key>
				<string></string>
			</dict>
			<dict>
				<key>datatype</key>
				<string>Btn</string>
				<key>id</key>
				<string>c1_01[4]</string>
				<key>label</key>
				<string>Trust/estate</string>
				<key>mapping</key>
				<string></string>
			</dict>
			<dict>
				<key>datatype</key>
				<string>Btn</string>
				<key>id</key>
				<string>c1_01[5]</string>
				<key>label</key>
				<string>Limited liability company</string>
				<key>mapping</key>
				<string></string>
			</dict>
			<dict>
				<key>datatype</key>
				<string>Tx</string>
				<key>id</key>
				<string>f1_18_0_[0]</string>
				<key>label</key>
				<string>Tax Classification</string>
				<key>mapping</key>
				<string></string>
			</dict>
			<dict>
				<key>datatype</key>
				<string>Btn</string>
				<key>id</key>
				<string>c1_01[6]</string>
				<key>label</key>
				<string>Other (see instructions)</string>
				<key>mapping</key>
				<string></string>
			</dict>
			<dict>
				<key>datatype</key>
				<string>Tx</string>
				<key>id</key>
				<string>f1_50_0_[0]</string>
				<key>label</key>
				<string>Other tax classification</string>
				<key>mapping</key>
				<string></string>
			</dict>
			<dict>
				<key>datatype</key>
				<string>Btn</string>
				<key>id</key>
				<string>c1_01[7]</string>
				<key>label</key>
				<string>Exempt payee</string>
				<key>mapping</key>
				<string></string>
			</dict>
			<dict>
				<key>datatype</key>
				<string>Tx</string>
				<key>id</key>
				<string>f1_04_0_[0]</string>
				<key>label</key>
				<string>Address</string>
				<key>mapping</key>
				<string>address</string>
			</dict>
			<dict>
				<key>datatype</key>
				<string>Tx</string>
				<key>id</key>
				<string>f1_05_0_[0]</string>
				<key>label</key>
				<string>City, state and ZIP</string>
				<key>mapping</key>
				<string>city</string>
			</dict>
			<dict>
				<key>datatype</key>
				<string>Tx</string>
				<key>id</key>
				<string>f1_06_0_[0]</string>
				<key>label</key>
				<string>Requester's name and address</string>
				<key>mapping</key>
				<string></string>
			</dict>
			<dict>
				<key>datatype</key>
				<string>Tx</string>
				<key>id</key>
				<string>f1_07_0_[0]</string>
				<key>label</key>
				<string>Account number(s)</string>
				<key>mapping</key>
				<string></string>
			</dict>
			<dict>
				<key>datatype</key>
				<string>Tx</string>
				<key>id</key>
				<string>TextField1[0]</string>
				<key>label</key>
				<string>SSN first 3 numbers</string>
				<key>mapping</key>
				<string></string>
			</dict>
			<dict>
				<key>datatype</key>
				<string>Tx</string>
				<key>id</key>
				<string>TextField2[0]</string>
				<key>label</key>
				<string>SSN numbers 4 and 5</string>
				<key>mapping</key>
				<string></string>
			</dict>
			<dict>
				<key>datatype</key>
				<string>Tx</string>
				<key>id</key>
				<string>TextField2[1]</string>
				<key>label</key>
				<string>SSN numbers 6-9</string>
				<key>mapping</key>
				<string></string>
			</dict>
			<dict>
				<key>datatype</key>
				<string>Tx</string>
				<key>id</key>
				<string>TextField2[2]</string>
				<key>label</key>
				<string>Employer id first 2 numbers</string>
				<key>mapping</key>
				<string></string>
			</dict>
			<dict>
				<key>datatype</key>
				<string>Tx</string>
				<key>id</key>
				<string>TextField2[3]</string>
				<key>label</key>
				<string>Employer id numbers 3-9</string>
				<key>mapping</key>
				<string></string>
			</dict>
		</array>
	</array>
	<key>tabs</key>
	<array>
		<array>
			<dict>
				<key>page</key>
				<integer>1</integer>
				<key>type</key>
				<string>SignHere</string>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>485</integer>
			</dict>
			<dict>
				<key>page</key>
				<integer>1</integer>
				<key>type</key>
				<string>InitialHere</string>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>485</integer>
			</dict>
		</array>
	</array>
</dict>
</plist>
