[submodule "external/DocuSign"]
	path = external/DocuSign
	url = ../DocuSign.git
[submodule "external/box.net"]
	path = external/box.net
	url = ../box.net.git
[submodule "PSFoundation"]
	path = PSFoundation
	url = https://github.com/steipete/PSFoundation.git
[submodule "asi-http-request"]
	path = asi-http-request
	url = https://github.com/pokeb/asi-http-request.git
[submodule "JSONKit"]
	path = JSONKit
	url = https://github.com/johnezang/JSONKit.git
[submodule "HockeyKit"]
	path = HockeyKit
	url = git://github.com/TheRealKerni/HockeyKit.git
[submodule "DCIntrospect"]
	path = DCIntrospect
	url = https://github.com/domesticcatsoftware/DCIntrospect.git
[submodule "iCarousel"]
	path = iCarousel
	url = https://github.com/myell0w/iCarousel.git
[submodule "iPhoneContacts"]
	path = iPhoneContacts
	url = https://github.com/AlanQuatermain/iPhoneContacts.git
