<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>DocuSign</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>user</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>kRBSettingsDocuSignUserNameKey</string>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>Title</key>
			<string>Username</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>password</string>
			<key>IsSecure</key>
			<true/>
			<key>Key</key>
			<string>kRBSettingsDocuSignPasswordKey</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Password</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Musketeer</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>Words</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>DefaultValue</key>
			<string>Max</string>
			<key>Title</key>
			<string>Firstname</string>
			<key>Key</key>
			<string>kRBMusketeerfirstname</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>Words</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>Mustermann</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Lastname</string>
			<key>Key</key>
			<string>kRBMusketeerlastname</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>Words</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>INT MIB Administrator</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Role</string>
			<key>Key</key>
			<string>kRBMusketeerrole</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>mail@musketeer.com</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>Title</key>
			<string>Email</string>
			<key>Key</key>
			<string>kRBMusketeeremail</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>E-Mail Configuration</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>signme@support.redbull.com</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>Title</key>
			<string>Email (from)</string>
			<key>Key</key>
			<string>kRBMailConfigFromEmail</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>smtp.redbull.com</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>Title</key>
			<string>Host</string>
			<key>Key</key>
			<string>kRBMailConfigHost</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>signmeapp2</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>Title</key>
			<string>Login User</string>
			<key>Key</key>
			<string>kRBMailConfigLoginUser</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>sign@rb007!</string>
			<key>IsSecure</key>
			<true/>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>Title</key>
			<string>Login Password</string>
			<key>Key</key>
			<string>kRBMailConfigLoginPwd</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
